/*colors
#943e4b = pinkish
#2b1133 = dark purple
#481f27 = purple red
*/
#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #bbbbbb;
}	
header {
	height: 135px;
	width: 960px;
	background-color: #000000;
	background-image: url(images/logo1.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left;
}
h1 {
	width: 925px;
	color: #ffffff;
	font-size: 3em;
	text-align: right;
	font-family: Helvetica, Arial, serifs;
	text-decoration: none;
	padding-top: 40px;
}
a {
	text-decoration: none;
}
#albums, #contact {
	margin-left: -4px;
}
ul {
	margin: 0;
}
nav {
	background-color: #2b1133;
	margin: -1px 0 0 0;
}
nav ul {
	margin-left: -40px;
	width: 960px;
}
nav li{
	display: inline-block;
	text-align: center;
	width: 320px;
}
nav a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
	font-family: sans-serif;
	padding: 0.2em 0;
}
.active {
	background-color: #bbbbbb;
	color: #000000;
}
nav a:hover {
  background-color: #3f2b47;
  color: #ffffff;
}
nav a:active {
	color: #f28caa;
}
h2 {
	margin: 10px 0 20px 0;
	text-align: center;
}
.bold {
	font-weight: bold;
}
.former {
	font-style: italic;
}
body {
	background-color: #943e4b;
}
#profile {
	width: 270px;
	height: 270px;
	float: left;
}
#content {
	padding: 10px;
}
.center {
	text-align: center;
}
#info {
	float: right;
	width: 650px;
}
#info ul li {
	list-style-type: none;
	margin: 0 0 0 -40px;
}
p {
	font-size: 1.0em;
}
table {
	margin: 0 auto;
	border: 1px solid #943e4b;
	border-collapse: collapse;
}
#caption {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 15px;
}
.myRows {
	padding-top: 10px;
	margin-top: 20px;
}
.cover {
	width: 280px;
	font-size: 1.2em;
}
.name {
	width: 190px;
	text-align: center;
	font-size: 1.2em;
}
.songs {
	width: 500px;
	font-size: 1.2em;
}
.albumart {
	width: 280px;
	height: 280px;
}
td, th {
	border: 1px solid #943e4b;
}
td {
	background-color: #481f27;
	color: #ffffff;
	text-align: center;
}
td li {
	margin-left: -40px;
}
td ul {
	list-style-type: none;
}
th {
	background-color: #ffffff;	
	height: 30px;
}
form#contactform {
	border: 3px solid #ffffff;
	width: 50%;
	background-color: #481f27;
	border-radius: 1em;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
label {
	color: #ffffff;
	font-size: 0.9em;
}
input {
	margin: 0 auto;
	display: block;
	width: 310px;
	height: 20px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	border: 1px solid #2b1133;
	padding-left: 5px;
}
select {
	display: block;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #2b1133;
	height: 24px;
}
#myAddress {
}
#myCity {
}
#myState {
	display: inline;
}
#myZip {
	display: inline;
	width: 60px;
}
form p {
	color: #ffffff;	
	font-size: 0.9em;
}
#prefEmail, #prefPhone {
	display: inline;
	width: 20px;
	height: 12px;
}
#label_comments {
	display: block;
	margin-bottom: 10px;
}
#myComments {
	width: 75%;
	border-radius: 5px;
	border: 1px solid #000000;
	margin: 0;
	padding-left: 5px;
}
#myReset, #mySubmit {
	width: 100px;
	display: inline;
}
#myButtons {
	width: 204px;
	margin: 0 auto;
}
legend {
	color: white;
}
fieldset {
	border-radius: 10px;
	width: 300px;
	margin: 0 auto;
}
footer {
	clear: both;
	padding: 10px 0;
	text-align: center;
	background-color: #2b1133;
	color: #ffffff;
	font-size: 0.9em;
	font-style: italic;
}