@media only screen and (min-width: 320px) {
    .hamburger-bar {
        background-color: #63727a;
        height: 100px;
    }
    header nav img {
        height: 70px;
        padding: 15px;
    }
    body {
        margin: 0;
    }
    #wrapper {
        padding: 0%;
        width: 100%;
        background-color: #e56020;
    }
    header nav ul {
        overflow: hidden;
        background-color: #1d1160;
        height: 0;
        padding: 0;
        margin: 0;
    }
    header nav ul.open {
        height: auto;        
    }
    header nav ul li {
        float: none;
        width: 100%;
        margin: 0;
        list-style: none;
    } 
    header nav ul a li {
        color: #fff;
        padding: 20px 10px;
        border-bottom: 1px solid #ccc;
        display: block;
        margin: 0;
        text-align: center;
        font-size: 3em;
    }
    header nav ul a {
        text-decoration: none;
    }
    main {
        background-color: #e56020;
        margin: 0 auto;
        padding: 1.5em;
    }
    h2 {
        text-align: center;
    }
    .main-image {
        display: flex;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    footer {
        background-color: #1d1160;
        margin: 1em;
        padding: 1em;
    }
    footer .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2em;
    }
    footer img {
        width: 50%;
        margin: 0 auto;
    }
    footer .copyright {
        color: #fff;
        text-align: center;
        font-style: italic;
        padding: 2em;
    }
    footer .copyright a {
        color: #e56020;
    }
    footer .navlinks {
        display: none;
    }
    footer .attribution {
        color: #fff;
        font-size: 80%;
        text-align: center;
    }
    footer .attribution a {
        color: #e56020;
    }
}