/*David Louie*/
#html, body {
	margin: 0;
}
#wrapper {
	padding: 2%;
}
.darkMode {
	background-color: black;
	color: white;
}
header {
	display: grid;
	grid-template-columns: 25% 70% 5%;
	margin-bottom: 5%;
}

#logo {	
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	width: 75%;
	align-self: center;
	justify-self: center;
}
#contactTop {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	text-align: center;
}
#contactTop a {
	text-decoration: none;
	color: #716844;
}
#mode {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	align-self: left;
	justify-self: left;
	height: 50px;
	width: 50px;
}
hr {
	border: 2px solid #ccc;
}
h2 {
	text-align: center;
}
#about {
	padding: 0 10% 2% 10%;
	
}
p {
	text-align: center;
}
.movies {
	text-align: center;
}
.movieDisplay {
	align-self: end;
}
#movieItem {
	padding: 5px;
	height: 405px;
	width: 720px;
	align-self: end;
}
#nausicaaIcon {
	height: 125px;
	width: 88px;
}
#howlsIcon {
	height: 125px;
	width: 88px;
}
#mononokeIcon {
	height: 125px;
	width: 88px;
}
.movieBorder {
	border: 2px solid orange;
	box-sizing: border-box;
}
.movies {
	display: grid;
	grid-template-columns: 50% 50%;
	border: 3px solid #ccc;
	border-radius: 5px;
}
.movieAbout {
	display: grid;
	grid-template-rows: 10% 30% 25% 35%;
}
#movieTitle {
	padding: 10px;
}
#movieDesc {
	text-align: justify;
	padding: 0 10% 0 10%;
}
#movieFacts {
	text-align: justify;
	padding:  0% 10%;
}
#moviePhoto1, #moviePhoto2 {
	height: 150px;
	width: 250px;
}
.bold {
	font-weight: bold;	
}
.movieIcon {
	display: inline;
}
h3 {
	text-align: center;
}
#bottom {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
}
.movieExtra {
	width: 100%;
	align-self: center;
}
.myForm {
	text-align: center;
	width: 50%;
	margin: 0 auto 20px auto;
	padding: 0 10px 10px 10px;
}
input {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 5px;
}
#fName {
	width: 200px;
}
#lName {
	width: 200px;
}
#myComment {
	min-width: 200px;
	width: 200px;
	min-height: 75px;
	height: 75px;
	resize: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 5px;	
}
#mySubmit {
	margin-top: 10px;
}
footer {
	text-align: center;
	font-style: italic;
}